@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.container{
	width: 1000px;
	margin: : 0 auto;
	overflow: hidden;
}
.pad{
	padding: 8px 0;
}
.top-header{
	background-color: #222;
}
.contact-box{
	float: left;
	width: 50%;
}
.contact-box p{
	color: #D08313;
	margin: 0;
}
.social-box{
	float: left;
	width: 50%;
}
.social-box ul{
	margin: 0;
	padding: 0;
	text-align: right;
}
.social-box ul li{
	display: inline-block;
	list-style: none;
}
.social-box ul li a{
	padding: 0 5px;
	color: #797979;
	display: block;
}
.logo{
	width: 10%;
	float: left;
	margin: 0;
	
	

}
.menu ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 80%;
	float: right;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	border-right: 2px solid rgb(226 ,226 ,226);
}
.menu ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
	color: white;

}
.menu ul li a:hover{
	color: #D08313;
	background-color: rgb(226, 226, 226);
	transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
}
.menu ul li a:focus{
	color: #D08313;
	background-color: rgb(226, 226, 226);
}
.button{
	border: 1px solid #000;
	border-radius: 5px;
}
.menu ul li:nth-child(4){
	border-right: 0 solid rgb(226, 226, 226);
}
.menu ul li:last-child{
	border-right: 0 solid rgb(226, 226, 226);
}
.bg{
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.business-content{
	width: 50%;
	float: left;
	padding: 100px 0;
}
.business-content h1{
	font-size: 35px;
	text-transform: uppercase;
	color: #1b1b1b;
}
.business-content h1 span{
	color: #D08313;
}
.business-content img{
	max-width: 100%;
	width: 200px;
}
.signup-form{
	width: 50%;
	float: left;
	padding: 100px 0;
}
.signup-form .form{
	background: #fff;
	padding: 30px 15px;
}
.form input{
	width: 95%;
	padding: 10px;
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	border:1px solid #222;
}
.form .button{
	width: auto;
	background: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
}
.form h1{
	text-align: center;
}